.component_card{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.component_color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.component_card.dragging {
    background-color: #c3ddeb;
    /* background-color: #5991ff; */
}
.component_card:hover {
    background-color: #c3ddeb;
  }

.indicator{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    background-color: #5991ff;
    border-radius: 5px;
    margin: 0;
    width: 300px;
    height: 4px;
} 

.indicator.upper{
    top: -15px
}
.indicator.lower{
    bottom: -15px;
}