.component_card{
    height: 50px;
    width: 300px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.component_color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.component_card.dragging {
    background-color: #c3ddeb;
    /* background-color: #a6e5d0; */
}
.component_card:hover {
    background-color: #c3ddeb;
  }